*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.bg{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(50, 50, 50, 0.75),rgba(50, 50, 50, 0.75)), url('/Midterm Project/img/history\ 2.jpg');
    background-position: center;
    background-size: cover;
}

.navbar{
    padding: 35px;
    align-items: center;
    
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position:relative ;
    
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}


.container{

    display: flex;
    justify-content: center;
}

.card{
    width: 1000px;
    height: 500px;
    margin: 30px;
    border-radius: 15px;
}

.img{
        height: 400px;
        margin-bottom: 10px;
        background-size: cover;
        border-radius: 15px;
    background-image: url('/Midterm Project/img/bayan.jpg');
}

h1{
    text-align: center;
    color: bisque;
}

p{
    margin-top: 3px;
    color: #fff;
    font-size: 13px;
    text-align: justify;
    margin: 10px;
}

