*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}

.bg{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(50, 50, 50, 0.75),rgba(50, 50, 50, 0.75)), url('/Midterm Project/img/piddig.jpg');
    background-position: center;
    background-size: cover;
}

.navbar{
    padding: 35px;
    align-items: center;
    
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position:relative ;
    
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.container{
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    display: flex;
    height: 88%;
    align-items: center;
}

.content{
    flex-basis: 50%;
}

h1{
    color: #fff;
    font-size: 120px;
    font-family: 'Roboto';
}

p{
    color: #fff;
    font-size: 14px;
    line-height: 15px;
}

.card{
    width: 250px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}

.card1{
    background-image: url('/Midterm Project/img/revolt\ 1.jpg');
}

.card2{
    background-image: url('/Midterm Project/img/revolt\ 2.jpg');
}

.card3{
    background-image: url('/Midterm Project/img/piddig.jpg');
}

.card4{
    background-image: url('/Midterm Project/img/sunflower.jpg');
}

.card:hover{
    transform: translateY(-10px);
}

h5{
    color: #fff;
}



